h2{
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.pokemon {
    position: relative;
}

.margin{
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemonContent{
    color: #fff;
}

.pokemon h1 {
    color: #fff;
    margin: 0;
}

.pokemon .number {
    color: #fff;
    text-align: right;
}

.pokemon .head {
    color: #fff!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .name {
    text-transform: capitalize;
}

.pokemon .types {
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    display: flex;
}

.pokemon .types .type {
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: .5rem;
    filter: brightness(1.1);
    text-align: center;
    margin: 0 .1rem;
}

.pokemon .image {
    text-align: center;
    position: relative;
    z-index: 1;
}

.pokemonData {
    position: relative;
    top: -3rem;
    padding-top: 3rem;
    color: #202020;
    background-color: #fff;
    height: 50vh;
}

.pokemonData .data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pokemonData .label {
    color: #a0a0a0;
    margin-bottom: .5rem;
}
